<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "static-header.html" . -}}
<!-- service -->
<section class="section">
  <div class="coding_section container">
    <div class="row justify-content-center" style="text-align: center;">
      <div class="content-section col-md-8 col-sm-12 ">
      <h1>{{.Title}}</h1>
      {{ partial "header_divider.html" .}}

      {{.Content}}
    </div>
    </div>
  </div>
</section>
<!-- /service -->
{{- partial "footer.html" . -}}

</body>
</html>


