{{ define "main" }}

<!-- banner -->
{{ with .Site.Data.homepage.banner }}
<section class="banner bg-cover position-relative d-flex justify-content-center align-items-center"
  data-background="{{ .bgImage | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">{{ .title | markdownify }}</h1>
        <h3 class="text-white font-weight-bold font-primary dynamic-text" data-info={{ .subtitle | markdownify }}></h3>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

{{ if .Site.Data.homepage.service.enable }}
<!-- service -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.service }}
      <div class="col-lg-10 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p class="lead">{{ .subtitle | markdownify}}</p>
      {{ end }}

        
      </div>   
    </div>
    {{ partial "section-border.html" .}}
    <div class="row">
      <div><p>**Will be demo gif**</p></div>
      <div class="col-lg-12 " style="padding-bottom: 5em; display: flex; justify-content: center; overflow: hidden; align-items: center;">
        <img style='object-fit: cover; min-width: 70%; min-height: 100%; flex-shrink: 2;'  alt="Example of cdev in use">
        
      </div>
     
      {{ with .Site.Data.homepage.pip}}
      <div class="col-lg-8 mx-auto" style="background-color: #ecececb0; border-radius: 5px; padding-top: 1em; padding-bottom: 1em; text-align:center;">
        <code class='col-11 mycode' style="color: black; font-size: large; padding-top: 5px; padding-bottom: 5px;">
          <span class='code-block'>{{ .message | markdownify}}</span>
          <div class="bode-btn-group btn-group btn-group-sm" role="group" aria-label="..." style=" float: right; margin-left: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
            <button class="btn btn-dark copy-code">
                <i class="icon-xs ti-clipboard text-white "></i>
            </button>    
          </div>
        </code>
      </div>

     
    
      {{end}}
      
    </div>
    {{ partial "section-border.html" .}}
    <div class= "col-12"><h1 style="text-align: center; padding-bottom: 1em;">Learn Cdev</h1></div>
    <div class="row">
     
      {{ range first 3 .Site.Data.learn.methods }}
      <div class="col-lg-4 mb-4 mb-lg-0">
        
        <div class="card hover-bg-secondary shadow py-4" style="box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;">
          <a href="{{.url}}">
          <div class="card-body text-center">
            <div class="position-relative">
              <i class="icon-lg icon-box bg-gradient-primary rounded-circle {{ .icon }} mb-5 d-inline-block text-white"></i>
              <i class="icon-lg icon-watermark text-white {{ .icon }}"></i>
            </div>
            <h4 class="mb-4">{{ .title | markdownify }}</h4>
            <p>{{ .description | markdownify }}</p>
          </div>
        </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  </div>
</section>
<!-- /service -->
{{ end }}

{{ if .Site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}


{{ end }}
