{{ define "main" }}

<!-- banner -->
{{ with .Site.Data.homepage.banner }}
<section class="banner bg-cover position-relative d-flex justify-content-center align-items-center"
  data-background="{{ .bgImage | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">{{ .title | markdownify }}</h1>
        <h3 class="text-white font-weight-bold font-primary dynamic-text" data-info={{ .subtitle | markdownify }}></h3>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

{{ if .Site.Data.homepage.service.enable }}
<!-- service -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.service }}
      <div class="col-lg-10 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p class="lead">{{ .subtitle | markdownify}}</p>
        <div class="section-border"></div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      {{ range first 3 .Site.Data.service.services }}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card hover-bg-secondary shadow py-4">
          <div class="card-body text-center">
            <div class="position-relative">
              <i
                class="icon-lg icon-box bg-gradient-primary rounded-circle {{ .icon }} mb-5 d-inline-block text-white"></i>
              <i class="icon-lg icon-watermark text-white {{ .icon }}"></i>
            </div>
            <h4 class="mb-4">{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /service -->
{{ end }}

{{ if .Site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}


{{ end }}
