<div class="sidebar container">
    <div style="font-weight:bold; padding-left: 18px; display: inherit;">Blogs</div>
    {{range .FirstSection.Pages}}
    
        
        <div class="row" style="height: max-content; ">              
            <i id="{{.LinkTitle}}" class="icon-xs ti-angle-down text-white dropdown" style="padding-top: 10%; vertical-align: text-bottom; visibility: hidden;"></i>
            <a href="{{.RelPermalink }}{{.LinkTitle}}">{{.Title}}</a>
        </div>
            
    
    {{end}}

</div>
  