<div class="sidebar container">
    <div style="font-weight:bold;">Docs</div>
    {{range .FirstSection.Sections}}
    
        
            <div class="row" style="height: max-content;">              
                <i class="icon-xs ti-angle-down text-white" style="padding-top: 10%; vertical-align: text-bottom;"></i>
                <a href="{{.Site.BaseURL}}{{.Dir}}">{{.Title}}</a>
            </div>
            
        {{range .Pages}}
            <div class="row" style="height: max-content;">
                <i class="icon-xs ti-angle-down text-white" style="visibility: hidden;"></i>
                <a href="{{.Site.BaseURL}}{{.Dir}}{{.LinkTitle}}" class='sublink'>{{.Title}}</a>
            </div>
        {{end}}
    {{end}}
</div>
  