<div class="col-lg-4 mb-4 mb-lg-0">
                
    <div class="card hover-bg-secondary shadow py-4">
      <a href="#">
      <div class="card-body text-center">
        <div class="position-relative">
          <i class="icon-lg icon-box bg-gradient-primary rounded-circle {{.Get `icon`}} mb-5 d-inline-block text-white"></i>
          <i class="icon-lg icon-watermark text-white {{.Get `icon`}}"></i>
        </div>
        <h4 class="mb-4">{{.Get "title"}}</h4>
        <p>{{.Get "description"}}</p>
      </div>
    </a>
    </div>
  </div>