<div class="col-lg-8 mx-auto" style="background-color: #ecececb0; border-radius: 5px; padding-top: 1em; padding-bottom: 1em; text-align:center;">
  <code class='col-11 mycode' style="color: black; font-size: large; padding-top: 3px; padding-bottom: 5px;">
    <span class='code-snippet'>$ {{.Get "linux"}}</span>
    <div class="bode-btn-group btn-group btn-group-sm" role="group" aria-label="..." style=" float: right; margin-left: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
      <button class="btn btn-secondary copy-code-snippet">
          <i class="icon-xs ti-clipboard text-white "></i>
      </button>    
    </div>
  </code>
</div>
<!--
<div class="col-lg-8 mx-auto" style="background-color: #ecececb0; border-radius: 5px; padding-top: 1em; padding-bottom: 1em; text-align:center;">
    <code class='col-11 mycode' style="color: black; font-size: large; padding-top: 5px; padding-bottom: 5px;">
      <span>$ {{.Get "linux"}}</span>
    </code>
</div>
<br>-->
<!--<div class="col-lg-8 mx-auto" style="background-color: #ecececb0; border-radius: 5px; padding-top: 1em; padding-bottom: 1em; text-align:center;">
  <code class='col-11 mycode' style="color: black; font-size: large; padding-top: 5px; padding-bottom: 5px;">
    <span>> {{.Get "windows"}}</span>
  </code>
</div>-->

