@media (min-width: 1441px) {
    .container {
        max-width: calc(100% - 10%);
    }
}
.about-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-img {
    width: 50%
}

.contact-card{
    padding-bottom: 50px;
}

.dob{
    display: none
}

.email-message {
    padding-top: 30px;
    color: black;
    display: none;
}

.btn-primary:hover{
    background: linear-gradient( 37deg, rgb(180,62,121) 1%, rgb(182, 49, 40) 100%) !important;
}

.btn-primary:active{
    background: linear-gradient( 37deg, rgb(180,62,121) 1%, rgb(134, 36, 29) 100%) !important;
}

.myspan{
    visibility: hidden;
}

.myspan:hover{
    visibility: visible;
}

.mybutton {
    background-color: #c4c4c4;
    border: none;
    display: inline-block;

}
  
.mybutton1 {border-radius: 5px;}

.docs-content {
    margin-left:25%
}

.coding_section {
    padding-top: 15px;
	margin-top: 50px;
	margin-bottom: 50px;
    border-radius: 12px !important;
    box-shadow: 0px 15px 60px rgb(62 62 62 / 10%) !important;
}

.blog_section {
    padding-top: 15px;
	margin-top: 200px;
	margin-bottom: 50px;
    border-radius: 12px !important;
    box-shadow: 0px 15px 60px rgb(255 255 255 / 26%) !important;
    background-color: white;
}


/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding: 0 5px 0 0;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}

.hljs-ln td {
    padding:  0 5px 0 10px !important;
}


.content-section {
    margin-bottom: 50px;
    position: relative;
}

.sidebar i.icon-xs.ti-angle-down {
    cursor: pointer;
    color: gray
}
.sidebar {
    width: 100%;
    position: sticky;
    top: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: #07085d; */
    overflow: hidden;
    border-right: 1px solid #E2E2E2;
}
    
.sidebar div {
    padding: 8px;
    font-size: 18px;
    display: block;
    /* color: white; */
}

.table-of-contents-container {
    position: sticky;
    top: 2em;
}

.body-text {
    margin-left: 150px;
    font-size: 18px;
}


.static-nav-bg {
    background-color: #07085d;
}


.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
   
    border-radius: 10px;
    background: #f1f1f100;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient( 37deg, rgb(247,70,58) 1%, rgb(180,62,121) 80% );

}

.sublink{
    color: #858585;
    font-size: 15px;
}


i.dropdown:hover{
    color: #f7463a!important;
}
.coding_section .col-lg-4 {
    max-width: 25%;
}
/*hide for small screens */
@media screen and (max-width: 991px) { 
    .coding_section .col-lg-4 {
        max-width: 100% !important;
    }
    .desktop{
        display: none;
        visibility: hidden;
    }

    .dropdown-mobile {
        text-align: center;
        background: none!important;
        box-shadow: none!important;
    }


    .dropdown-item-mobile{
        background: none!important;
        color: white!important;
    }

    .dropdown-item-mobile:hover{
        color: #f7463a!important;
        background: none!important;
    }
}

/*hide for small screens */
@media  (max-width: 550px) { 

    .navigation {
        padding: 0;
    }

    .static-nav-bg {
        padding: 0;
    }
}


.quote {
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
  }
.quote figcaption,
.quote blockquote {
  margin: 1em;
  font-style: italic
}




.bode-btn-group {
    margin-bottom: -8rem;
    padding-top: 1rem;
    margin-left: 90%;
}

pre code {
    background-color: #eee;
    display: block;
    padding: 15px;
}


@media (max-width: 767px) {
    .logo-img {
        width: 100%
    }
    .navbar-brand {
        width: 100px;
    }
    .navigation  {
        padding: 10px;
    }
    .nav-item, .dropdown-item {
        text-align: right   ;
    }
}

p > code {
    background: #f5f5f5;
    color: #f7463a;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: inconsolata,Menlo,Monaco,courier new,monospace;
    font-size: 95%;
}


p > strong > code {
    background: #f5f5f5;
    color: #f7463a;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: inconsolata,Menlo,Monaco,courier new,monospace;

}

nav > ul > li > a:active {
    color: red;
}