html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $primary-color;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.hover-text-underline:hover {
  text-decoration: underline;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-lg {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}

.section-border {
  height: 9px;
  width: 220px;
  background: $primary-gradient;
  border-radius: 5px;
  margin: 40px auto 90px;
}

.header-divider {
  height: 9px;
  background: $primary-gradient;
  border-radius: 5px;
  margin: 20px auto;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .8;
  }

  &-primary {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $primary-color;
      opacity: .8;
    }
  }

  &-secondary {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $secondary-color;
      opacity: .8;
    }
  }

  &-secondary-half {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, $secondary-color 60%, transparent);
    }
  }

  &-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-gradient-primary {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-light {
  color: $light !important;
}

.text-color {
  color: $text-color !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.top-100 {
  top: 100px;
}

.overflow-hidden {
  overflow: hidden !important;
}

.font-primary {
  font-family: $primary-font !important;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.shadow {
  box-shadow: 0px 46px 65px 0px rgba(181, 188, 236, 0.16) !important;
}

.bg-gradient-primary {
  background: $primary-gradient !important;
}

.transition {
  transition: .3s ease;
}

.vertical-align-middle {
  vertical-align: middle;
}

/* form control */
.form-control {
  height: 50px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-color;

  &:focus {
    box-shadow: none !important;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 150px;
}

/* /form control */

/* page-title */
.page-title {
  padding: 170px 0 190px;
}

/* /page-title */


/* list style */
.list-styled {
  padding-left: 0;

  li {
    position: relative;
    padding-left: 25px;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "\e65d";
      font-family: $icon-font;
      font-size: 14px;
      left: 0;
      top: 0px;
      color: $secondary-color;
      transition: .3s ease;
    }
  }
}

/* social icons */
.social-icons {
  a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: $secondary-color;
    color: $white;
    text-align: center;
  }
}

/* /social icons */

.content {
  * {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }
ol{
  padding-left: 20px;
}
  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\e65d";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;
  }
}
.main-sub-link {
  display: none !important;
  margin-left: 20px;

  &.active{
    display: block !important;
  }
}
.sidebar {

  i.active{
    color: #f7463a!important;
  }
  .main-link.active {
    color: #f7463a!important;
  }
}

.highlight {
  pre {
    position: relative;
    .bode-btn-group {
      position: absolute;
      top: 0;
      margin-left: calc(100% - 55px);
      // margin-left: 95%;
      // right: 5%;
      padding-top: 10px;
      .copy-to-code {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}
.group-code {
  display: grid;
  align-items: flex-start;
  .bode-btn-group {
    margin-left: calc(100% - 55px);
  }
}

:not(pre)>code+span.copy-to-code {
  display: none;
}
.coding_section .content-section a {
  color: #f7463a;
  transition: all .3s;
}

.coding_section .content-section a:hover {
  color: #aa0b00;
}

/*
.hljs {
  background-color: #002b36 !important;
}*/




.coding_section {
  @media screen and (max-width: 991px) {
    padding-top: 5px !important;
  }
  img {
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
}
details[open]>summary:after {
  transform: rotate(90deg);
}
.tool {
  border: 0 solid #448aff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-width: 4px;
  margin: 20px 0;
  padding: 0;
  position: relative;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.2)!important;
  .info {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .2rem;
    padding-top: .2rem;

    >code{
      background: #f5f5f5;
      color: #f7463a;
      border-radius: 3px;
      padding: 1px 2px;
      font-family: inconsolata,Menlo,Monaco,courier new,monospace;
      font-size: 95%;
    }
  }
  summary {
    background-color: rgba(0,191,165,.1);
    padding: 8px 12px 8px 40px;
    list-style: none;

      &::before{
        -webkit-mask-image: url('/images/flame-svgrepo-com.svg');
        mask-image: url('/images/flame-svgrepo-com.svg');
        background-color: rgb(0, 191, 165);
        box-sizing: border-box;
        content: "";
        display: block;
        height: 20px;
        left: 12px;
        position: absolute;
        top: 8px;
        width: 20px;
        -webkit-mask-size:contain;
      }
      &::after{
        background-color: rgba(0, 0, 0, 0.87);
        box-sizing: border-box;
        content: "";
        display: block;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 8px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        transition-delay: 0s;
        transition-duration: 0.25s;
        transition-property: transform;
        transition-timing-function: ease;
        width: 20px;
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z\"/></svg>');
        -webkit-mask-size: contain;
      }

    &::marker{
      display:none;
    }
  }
  &.tip {
    border-color: #00bfa5;
    summary {
      background-color: rgba(0, 191, 165,.1);

      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.58.58 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.58.58 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27z\"/></svg>');
        background-color: rgb(0, 191, 165);
      }
    }
  }
  &.info {
    border-color: rgb(0, 184, 212);
    summary {
      background-color: rgba(0, 184, 212,.1);

      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2z\"/></svg>');
        background-color: rgb(0, 184, 212);
      }
    }
  }
  &.warning {
    border-color: rgb(255, 145, 0);
    summary {
      background-color: rgba(255, 145, 0,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        background-color: rgb(255, 145, 0);
      }
    }
  }
  &.error {
    border-color: #f7463a;
    summary {
      background-color: rgba(247, 70, 58,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        background-color: rgb(247, 70, 58);
      }
    }
  }
  &.question {
    border-color: rgb(100, 221, 23);
    summary {
      background-color: rgba(100, 221, 23,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"m15.07 11.25-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2 2 2 0 0 0-2 2H8a4 4 0 0 1 4-4 4 4 0 0 1 4 4 3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10c0-5.53-4.5-10-10-10z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"m15.07 11.25-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2 2 2 0 0 0-2 2H8a4 4 0 0 1 4-4 4 4 0 0 1 4 4 3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10c0-5.53-4.5-10-10-10z\"/></svg>');
        background-color: rgb(100, 221, 23);
      }
    }
  }
  &.python {
    border-color: rgb(48, 105, 152);
    summary {
      background-color: rgba(48, 105, 152,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg style="color: rgb(255, 212, 59);" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5_logos</title><path d="M314,36.38c-18.59-3.06-45.8-4.47-64.27-4.38a311.09,311.09,0,0,0-51.66,4.38c-45.74,8-54.07,24.7-54.07,55.54V128H256v16H107.62C66.06,144,32.33,193.67,32,255.12c0,.29,0,.58,0,.88a162.91,162.91,0,0,0,3.13,32c9.29,46.28,38.23,80,72.49,80H128V314c0-31.3,20.84-59.95,55-66.1l9.87-1.23H314a56.05,56.05,0,0,0,15.06-2A52.48,52.48,0,0,0,368,193.68V91.92C368,63,343.32,41.19,314,36.38ZM194.93,105.5a20.37,20.37,0,1,1,20.3-20.3A20.29,20.29,0,0,1,194.93,105.5Z" fill="#ffd43b"></path><path d="M475.28,217c-10.7-42.61-38.41-73-70.9-73H386.67v47.45c0,39.57-26,68.22-57.74,73.13a63.54,63.54,0,0,1-9.69.75H198.08a60,60,0,0,0-15.23,1.95C160.54,273.14,144,291.7,144,315.77V417.54c0,29,29.14,46,57.73,54.31,34.21,9.95,71.48,11.75,112.42,0,27.19-7.77,53.85-23.48,53.85-54.31V384H256V368H404.38c29.44,0,54.95-24.93,67.45-61.31A156.83,156.83,0,0,0,480,256,160.64,160.64,0,0,0,475.28,217ZM316.51,404a20.37,20.37,0,1,1-20.3,20.3A20.29,20.29,0,0,1,316.51,404Z" fill="#ffd43b"></path></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg style="color: rgb(255, 212, 59);" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5_logos</title><path d="M314,36.38c-18.59-3.06-45.8-4.47-64.27-4.38a311.09,311.09,0,0,0-51.66,4.38c-45.74,8-54.07,24.7-54.07,55.54V128H256v16H107.62C66.06,144,32.33,193.67,32,255.12c0,.29,0,.58,0,.88a162.91,162.91,0,0,0,3.13,32c9.29,46.28,38.23,80,72.49,80H128V314c0-31.3,20.84-59.95,55-66.1l9.87-1.23H314a56.05,56.05,0,0,0,15.06-2A52.48,52.48,0,0,0,368,193.68V91.92C368,63,343.32,41.19,314,36.38ZM194.93,105.5a20.37,20.37,0,1,1,20.3-20.3A20.29,20.29,0,0,1,194.93,105.5Z" fill="#ffd43b"></path><path d="M475.28,217c-10.7-42.61-38.41-73-70.9-73H386.67v47.45c0,39.57-26,68.22-57.74,73.13a63.54,63.54,0,0,1-9.69.75H198.08a60,60,0,0,0-15.23,1.95C160.54,273.14,144,291.7,144,315.77V417.54c0,29,29.14,46,57.73,54.31,34.21,9.95,71.48,11.75,112.42,0,27.19-7.77,53.85-23.48,53.85-54.31V384H256V368H404.38c29.44,0,54.95-24.93,67.45-61.31A156.83,156.83,0,0,0,480,256,160.64,160.64,0,0,0,475.28,217ZM316.51,404a20.37,20.37,0,1,1-20.3,20.3A20.29,20.29,0,0,1,316.51,404Z" fill="#ffd43b"></path></svg>');
        background-color: rgb(75, 139, 190);
      }
    }
  }
  &.web {
    border-color: rgb(38, 118, 42);
    summary {
      background-color: rgba(38, 118, 42, .1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16"> <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/> </svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16"> <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/> </svg>');
        background-color: rgb(97, 97, 97);
      }
    }
  }
  &.cdev {
    border-color: #07085d;
    summary {
      background-color: rgba(7, 8, 93, .1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 10.3409 6.2552"><path class="cls-1" d="M10.3409,3.22c-.4078.4284-3.4992,3.5772-7.5276,2.9535A7.3329,7.3329,0,0,1,0,5.097"/><path class="cls-1" d="M4.0275,4.0326l-.4889-3.025a6.091,6.091,0,0,1-.8806,2.31,6.0391,6.0391,0,0,1-1.1019,1.279Z"/><path class="cls-1" d="M7.9534,3.1l-3.1283.7367A12.652,12.652,0,0,0,4.789,1.8492,12.6572,12.6572,0,0,0,4.4718,0,8.1978,8.1978,0,0,1,6.6372,1.4793,8.1769,8.1769,0,0,1,7.9534,3.1Z"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="currentColor" viewBox="0 0 10.3409 6.2552"><path class="cls-1" d="M10.3409,3.22c-.4078.4284-3.4992,3.5772-7.5276,2.9535A7.3329,7.3329,0,0,1,0,5.097"/><path class="cls-1" d="M4.0275,4.0326l-.4889-3.025a6.091,6.091,0,0,1-.8806,2.31,6.0391,6.0391,0,0,1-1.1019,1.279Z"/><path class="cls-1" d="M7.9534,3.1l-3.1283.7367A12.652,12.652,0,0,0,4.789,1.8492,12.6572,12.6572,0,0,0,4.4718,0,8.1978,8.1978,0,0,1,6.6372,1.4793,8.1769,8.1769,0,0,1,7.9534,3.1Z"/></svg>');
        background-color: #f7463a;
      }
    }
  }
}

.table-of-contents {
  border-left: 1px solid #E2E2E2;
  padding-left: 20px;
  margin-top: 30px;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      margin: 8px 0;
      ul {
        padding-left: 20px;
        padding-top: 5px;
      }
    }
  }
}

