<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
    {{- partial "preloader.html" . -}}
    {{- partial "static-header.html" . -}}


<!--{{ partial "page-title.html" . }}-->



<div class="coding_section container" >
    <h1 style="text-align: center;">{{.Title}}</h1>
            {{ partial "header_divider.html" .}}
    <div class="row justify-content-center" > 
        <div class="content-section col-md-8">
            {{.Content}}

            <div class="d-flex">
                {{ with .NextInSection }}
                <div>
                <a href="{{ .Permalink }}"><i class=" ti-arrow-left text-black"></i></a>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                {{ end }}

                {{ with .PrevInSection }}
                <div style="margin-left: auto;">

                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <a href="{{ .Permalink }}"><i class=" ti-arrow-right text-black"></i></a>
                </div>
                {{ end }}
            </div>
            
            <div class="row d-flex justify-content-around" >
                <div class="card hover-bg-secondary shadow py-4">
                    <div class="card-body text-center">
                        <div class="position-relative">
                            <h3>Daniel Sanchez</h3>
                            <p>Founder of Cdev</p>
                            <!-- <i class="icon-lg icon-box bg-gradient-primary rounded-circle  mb-5 d-inline-block text-white"></i> -->
                            <img src="" alt="Daniel Sanchez" class="rounded-circle mb-5 d-inline-block text-white">
                            <a href="https://calendly.com/jordan-t-french/30min" class="d-block mt-4">Calendly</a>
                        </div>
                    </div>
                </div>
                <div class="card hover-bg-secondary shadow py-4">
                    <div class="card-body text-center">
                        <div class="position-relative">
                            <h3></h3>
                            <p>Fullstack Developer</p>
                            <!-- <i class="icon-lg icon-box bg-gradient-primary rounded-circle  mb-5 d-inline-block text-white"></i> -->
                            <img src="" alt="Ian Magalhaes" class="rounded-circle mb-5 d-inline-block text-white">
                            <a href="https://calendly.com/ian-cdev" class="d-block mt-4">Calendly</a>
                        </div>
                    </div>
                </div>
                <div class="card hover-bg-secondary shadow py-4">
                    <div class="card-body text-center">
                        <div class="position-relative">
                            <h3>Jordan French</h3>
                            <p>Fullstack Developer</p>
                            <!-- <i class="icon-lg icon-box bg-gradient-primary rounded-circle  mb-5 d-inline-block text-white"></i> -->
                            <img src="https://d21gd0ap5v1ndt.cloudfront.net/web02/csc/images/mug_shots/2017-18/jordan_french_241_mb1.jpg?v97e83f1d03cb7ac5c06f5d611660faab269ccd75" alt="Jordan French" class="rounded-circle mb-5 d-inline-block text-white">
                            <a href="https://calendly.com/jordan-t-french/30min" class="d-block mt-4">Calendly</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

{{- partial "footer.html" . -}}
</body>
</html>
