<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
    {{- partial "preloader.html" . -}}
    {{- partial "static-header.html" . -}}


<!--{{ partial "page-title.html" . }}-->



<div class="coding_section container" >
    <div class="row" >
        <div class="col-lg-4 col-md-4" style="padding-left: 4%; overflow: hidden;">
            {{ partial "docs-side.html" .}}
        </div>

        <div class="col-lg-8 col-md-8" style="padding-left: 2em;">
            {{.Content}}

            <div class="row" style="padding-left: 1em; padding-right: 1em;">
                {{ with .NextInSection }}
                <div>
                <a href="{{ .Permalink }}"><i class=" ti-arrow-left text-black"></i></a>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                {{ end }}

                {{ with .PrevInSection }}
                <div style="margin-left: auto;">

                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                  <a href="{{ .Permalink }}"><i class=" ti-arrow-right text-black"></i></a>
                </div>
                {{ end }}
            </div>

        </div>
    </div>

</div>



{{- partial "footer.html" . -}}
</body>
</html>
