
<div class="window col-10 col-lg-6" >
    <div class="handle">
            <div class="buttons">
                <button class="red">
                </button>
                <button class="yellow">
                </button>
                <button class="green">
                </button>
            </div>
    </div>
    <div class="terminal" id="landing-page-terminal">
<span class="type" style="--n:10000">from cdev.aws.lambda_function import ServerlessFunction

@ServerlessFunction("hello_world_function")
def hello_world(event, context):
    return "Hello World!"
</span>
            
    </div>
</div>
<div class="window col-10" style="animation: rotation_out_mid 10s ease-in-out forwards; animation-delay: 7.5s; position: absolute;" >
    <div class="handle" style="transform: rotateY(270deg);">
            <div class="buttons">
                <button class="red">
                </button>
                <button class="yellow">
                </button>
                <button class="green">
                </button>
            </div>
    </div>
    <div class="terminal" id="landing-page-terminal" style="transform: rotateY(270deg);">
<span class="type" style="--n:100000; animation-delay: 7.6s;">> cdev deploy

Generated Cloud Output:                          
Base API URL: https://apigateway.com/hello_world
Routes:  /hello_world [GET]

</span>
            
    </div>
</div>


<div class="acontainer" style="animation: rotation_out 10s ease-in-out forwards; animation-delay: 17.5s; position: absolute;transform: rotateY(270deg);">
    <div class="arow">
      <div class="column left">
        <span class="dot" style="background:#ED594A;"></span>
        <span class="dot" style="background:#FDD800;"></span>
        <span class="dot" style="background:#5AC05A;"></span>
      </div>
      <div class="column middle">
        <input type="text" value="https://apigateway.com/hello_world">
      </div>
      <div class="column right">
        <div style="float:right">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
  
    <div class="content">
      <p>"Hello outside world!"</p>
    </div>
</div>
