<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
    {{- partial "preloader.html" . -}}
    {{- partial "static-header.html" . -}}

<!-- page-title -->
  <!-- /page-title -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="font-tertiary mb-5">{{ .Title }}</h3>
            {{ partial "header_divider.html" .}}
          <img src="{{ .Params.Image | absURL }}" alt="post-thumb" class="img-fluid w-100 mb-3">
          <p class="d-inline-block">Post by {{.Params.Author}}</p>
          <time class="float-right">{{ .PublishDate.Format "January 02, 2006" }}</time>
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>



{{- partial "footer.html" . -}}
</body>
</html>
