<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
    {{- partial "preloader.html" . -}}
    {{- partial "static-header.html" . -}}

<!-- page-title -->
  <!-- /page-title -->
  <section class="section">
    <img src="{{ .Params.Image | absURL }}" alt="post-thumb" class="w-100" style="z-index: -1;position: fixed; margin-top:-20%">
    <div class=" blog_section container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="font-tertiary mb-5">{{ .Title }}</h3>
            {{ partial "header_divider.html" .}}
          <div>
            <img src="{{ .Params.AuthorImage | absURL }}" alt="author headshot" class="rounded-circle" style="width: 50px;">
            <p class="d-inline-block">Post by {{.Params.Author}}</p>
            <time class="float-right">{{ .PublishDate.Format "January 02, 2006" }}</time>
          </div>
          
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>



{{- partial "footer.html" . -}}
</body>
</html>
