html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $primary-color;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.hover-text-underline:hover {
  text-decoration: underline;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-lg {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}

.section-border {
  height: 9px;
  width: 220px;
  background: $primary-gradient;
  border-radius: 5px;
  margin: 40px auto 90px;
}

.header-divider {
  height: 9px;
  background: $primary-gradient;
  border-radius: 5px;
  margin: 20px auto;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .8;
  }

  &-primary {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $primary-color;
      opacity: .8;
    }
  }

  &-secondary {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $secondary-color;
      opacity: .8;
    }
  }

  &-secondary-half {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, $secondary-color 60%, transparent);
    }
  }

  &-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-gradient-primary {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-light {
  color: $light !important;
}

.text-color {
  color: $text-color !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.top-100 {
  top: 100px;
}

.overflow-hidden {
  overflow: hidden !important;
}

.font-primary {
  font-family: $primary-font !important;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.shadow {
  box-shadow: 0px 46px 65px 0px rgba(181, 188, 236, 0.16) !important;
}

.bg-gradient-primary {
  background: $primary-gradient !important;
}

.transition {
  transition: .3s ease;
}

.vertical-align-middle {
  vertical-align: middle;
}

/* form control */
.form-control {
  height: 50px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-color;

  &:focus {
    box-shadow: none !important;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 150px;
}

/* /form control */

/* page-title */
.page-title {
  padding: 170px 0 190px;
}

/* /page-title */


/* list style */
.list-styled {
  padding-left: 0;

  li {
    position: relative;
    padding-left: 25px;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "\e65d";
      font-family: $icon-font;
      font-size: 14px;
      left: 0;
      top: 0px;
      color: $secondary-color;
      transition: .3s ease;
    }
  }
}

/* social icons */
.social-icons {
  a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: $secondary-color;
    color: $white;
    text-align: center;
  }
}

/* /social icons */

.content {
  * {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }
ol{
  padding-left: 20px;
}
  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\e65d";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;
  }
}
.main-sub-link {
  display: none !important;
  margin-left: 20px;

  &.active{
    display: block !important;
  }
}
.sidebar {

  i.active{
    color: #f7463a!important;
  }
  .main-link.active {
    color: #f7463a!important;
  }
}

.highlight {
  pre {
    position: relative;
    .bode-btn-group {
      position: absolute;
      top: 0;
      margin-left: calc(100% - 55px);
      // margin-left: 95%;
      // right: 5%;
      padding-top: 10px;
      .copy-to-code {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}
.group-code {
  display: grid;
  align-items: flex-start;
  .bode-btn-group {
    margin-left: calc(100% - 55px);
  }
}

:not(pre)>code+span.copy-to-code {
  display: none;
}
.coding_section .content-section a {
  color: #f7463a;
  transition: all .3s;
}

.coding_section .content-section a:hover {
  color: #aa0b00;
}

/*
.hljs {
  background-color: #002b36 !important;
}*/




.coding_section {
  @media screen and (max-width: 991px) {
    padding-top: 5px !important;
  }
  img {
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
}
details[open]>summary:after {
  transform: rotate(90deg);
}
.tool {
  border: 0 solid #448aff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-width: 4px;
  margin: 20px 0;
  padding: 0;
  position: relative;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.2)!important;
  .info {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .2rem;
    padding-top: .2rem;

    >code{
      background: #f5f5f5;
      color: #f7463a;
      border-radius: 3px;
      padding: 1px 2px;
      font-family: inconsolata,Menlo,Monaco,courier new,monospace;
      font-size: 95%;
    }
  }
  summary {
    background-color: rgba(0,191,165,.1);
    padding: 8px 12px 8px 40px;
    list-style: none;

      &::before{
        -webkit-mask-image: url('/images/flame-svgrepo-com.svg');
        mask-image: url('/images/flame-svgrepo-com.svg');
        background-color: rgb(0, 191, 165);
        box-sizing: border-box;
        content: "";
        display: block;
        height: 20px;
        left: 12px;
        position: absolute;
        top: 8px;
        width: 20px;
        -webkit-mask-size:contain;
      }
      &::after{
        background-color: rgba(0, 0, 0, 0.87);
        box-sizing: border-box;
        content: "";
        display: block;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 8px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        transition-delay: 0s;
        transition-duration: 0.25s;
        transition-property: transform;
        transition-timing-function: ease;
        width: 20px;
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z\"/></svg>');
        -webkit-mask-size: contain;
      }

    &::marker{
      display:none;
    }
  }
  &.tip {
    border-color: #00bfa5;
    summary {
      background-color: rgba(0, 191, 165,.1);

      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.58.58 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.58.58 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27z\"/></svg>');
        background-color: rgb(0, 191, 165);
      }
    }
  }
  &.info {
    border-color: rgb(0, 184, 212);
    summary {
      background-color: rgba(0, 184, 212,.1);

      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2z\"/></svg>');
        background-color: rgb(0, 184, 212);
      }
    }
  }
  &.warning {
    border-color: rgb(255, 145, 0);
    summary {
      background-color: rgba(255, 145, 0,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        background-color: rgb(255, 145, 0);
      }
    }
  }
  &.error {
    border-color: #f7463a;
    summary {
      background-color: rgba(247, 70, 58,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21z\"/></svg>');
        background-color: rgb(247, 70, 58);
      }
    }
  }
  &.question {
    border-color: rgb(100, 221, 23);
    summary {
      background-color: rgba(100, 221, 23,.1);
      &::before{
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"m15.07 11.25-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2 2 2 0 0 0-2 2H8a4 4 0 0 1 4-4 4 4 0 0 1 4 4 3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10c0-5.53-4.5-10-10-10z\"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"m15.07 11.25-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2 2 2 0 0 0-2 2H8a4 4 0 0 1 4-4 4 4 0 0 1 4 4 3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10c0-5.53-4.5-10-10-10z\"/></svg>');
        background-color: rgb(100, 221, 23);
      }
    }
  }
}

//C:\Users\Amjad\Documents\GitHub\cdev-website\static\images\flame-svgrepo-com.svg

.table-of-contents {
  border-left: 1px solid #E2E2E2;
  padding-left: 20px;
  margin-top: 30px;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      margin: 8px 0;
      ul {
        padding-left: 20px;
        padding-top: 5px;
      }
    }
  }
}

