{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- team single -->
<section class="section pt-0">
  <div class="container">
    <div class="row mb-100">
      <div class="col-lg-4 col-md-6">
        <div class="bg-secondary p-4 text-center">
          <div class="img-thumb-circle mx-auto mb-3">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid">
          </div>
          <h2 class="text-white">{{ .Title }}</h2>
          <p class="text-gradient-primary h4">{{ .Params.Designation | markdownify }}</p>
          <p>{{ .Params.Bio }}</p>
          <a href="{{ .Params.CV | absURL }}" class="btn btn-primary">Download CV</a>
        </div>
      </div>
      <div class="col-lg-7 offset-lg-1 col-md-6">
        <div class="pt-5">
          <h2>Working Skill</h2>
          <p class="mb-5">{{ .Params.AboutSkill | markdownify }}</p>
          {{ range .Params.Skill }}
          <div class="progress-block">
            <h6 class="text-uppercase">{{ .title | markdownify }}</h6>
            <div class="progress">
              <div class="progress-bar" data-percent="{{ .parcent }}">
                <span class="skill-number text-dark font-weight-bold"><span class="count">{{ .parcent }}</span>%</span>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="row border-bottom mb-4">
          <div class="col-sm-6">
            <h4 class="mb-4">Contact Information</h4>
            <ul class="list-unstyled">
              {{ range .Params.Contact }}
              <li class="mb-3"><i class="{{ .icon }} mr-3"></i>{{ .content | markdownify}}</li>
              {{ end }}
            </ul>
          </div>
          <div class="col-sm-6">
            <h4 class="mb-4">Follow Me</h4>
            <ul class="list-inline social-icons">
              {{ range .Params.Follow }}
              <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-secondary p-4">
          <ul class="list-unstyled">
            {{ range .Params.Project }}
            <li class="mb-4">
              <p class="text-white mb-1">{{ .title | markdownify }}</p>
              <strong class="text-white">{{ .content | markdownify }}</strong>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /team -->

{{ end }}