<div class="window">
    <div class="handle">
            <div class="buttons">
                <button class="red">
                </button>
                <button class="yellow">
                </button>
                <button class="green">
                </button>
            </div>
    </div>
    <div class="terminal" id="landing-page-terminal">
            <span class="type" style="--n:10000">
from cdev import deploy_function

@deploy_function("hello_world_function")
def hello_world(event, context):
return {"status_code": 200, "message": "Hello World!🚀"}</span>
            
    </div>
</div>